<!DOCTYPE html>
<html>
  <body>
{% extends "layout.html" %}
{% block content %}
<div class="about">

       <div class="image_holder">
         <IMG src= {{ url_for('static', filename='images/profilepic.png') }} ALT="some text">
         <div class="text">
              <h1>Stav Grossfeld</h1>
              <p>I am a Data Scientist based in SF with a Genetics B.S. from UC Davis and a certificate from General Assembly in data science. I am seeking opportunities in <strong>Data Science and Business Intelligence.</strong></p>
              <p>I enjoy discovering obscure patterns in large datasets and communicating them. When I'm not at the screen you can find me around San Francisco sampling IPAs or climbing rockwalls.</p>
              <a href="https://docs.google.com/document/d/1_gQP9hv4f0HnfuOiNbJ-OyR4YhD0hUE9pdfKX2PmPy8/edit" class="btn">Download Resume</a>
          </div>
       </div>


      <div class = "project">
          <div class = "left">
              <div class="image_holder">
                  <IMG src = {{url_for('static', filename='images/sample_map.png')}} ALT="some text">
              </div>
          </div>

          <div class = "right">
            <h2> Craigslist Crime Analysis</h2>
            <p> Using data from archived craigslist posts and reported crimes, performed a comprehensive analysis of reported crime trends and rent hikes in different neighborhoods of San Francisco.</p>
            <p>Created heat-map of pricing with dynamic clustering of user inputted crimes. Possible uses of this project is a web application using this map style indicating crimes and rental prices from craigslist in real-time.</p>
            <a href="{{ url_for('about') }}" class="btn">Read case study</a>


          </div>
      </div>




        </div>
  {% endblock %}
  </body>

</html>
