<!DOCTYPE html>
<html>
  <body>
{% extends "layout.html" %}
{% block content %}
       <div class="about">

         <div class="image_holder">
         <IMG src= {{ url_for('static', filename='images/profilepic.png') }} ALT="some text">
           <div class="text">
             <h1>Stav Grossfeld</h1>
              <p>I am a Data Scientist based in SF seeking opportunities in <strong>Data Science and Business Intelligence.</strong></p>
              <p>I enjoy discovering obscure patterns in "BIG" datasets and communicating them. When I'm not at the keyboard you can find me around San Francisco sampling IPAs or climbing rockwalls.</p>
            </div>
         </div>


        <div class = "project">
          <div class = "left">
              <h2> Craigslist Crime Analysis</h2>
              <p> Using data from archived craigslist posts and reported crimes, performed a comprehensive analysis of reported crime trends and rent hikes in different neighborhoods of San Francisco. Presented information with exploratory graphs and predicted prices of housing using districts, years, bedrooms, and aggregate crime counts per district per year. Created heat-map of pricing with dynamic clustering of user inputted crimes. Possible uses of this project is a web application using this map style indicating crimes and rental prices from craigslist in real-time.</p>
            </div>
          <div class = "right">
            <div class="image_holder">
            <IMG src = {{url_for('static', filename='images/sample_map.png')}} ALT="some text">
            </div>
          </div>

        </div>




        </div>
  {% endblock %}
  </body>

</html>
